services:
  spring-boot:
    container_name: spring-boot
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    env_file:
      - .env
    ports:
      - '8000:8080'
    depends_on:
      mysql:
        condition: service_healthy

  mysql:
    container_name: mysql
    image: 'mysql:8.0'
    restart: always
    env_file:
      - .env
    ports:
      - '3306:3306'
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 15s

volumes:
  db_data:
